<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <setting
        propertyKey="@Properties.theme"
        title="@Strings.ThemeTitle">

        <settingConfig type="list">
            <listEntry value="0">@Strings.ThemeClassic</listEntry>
            <listEntry value="1">@Strings.ThemeScarletNight</listEntry>
            <listEntry value="2">@Strings.ThemeMaizeBlue</listEntry>
        </settingConfig>
    </setting>

</settings>
